<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memonade.apptracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apptracker_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/apptracker_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ApplicationInformationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StageInformationActivity"
            android:parentActivityName=".ApplicationInformationActivity" />
        <activity
            android:name=".ApplicationEditActivity"
            android:parentActivityName=".ApplicationInformationActivity" />
        <activity
            android:name=".StageEditActivity"
            android:parentActivityName=".StageInformationActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>